body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p, img {
  margin: 0;
  padding: 0; }

.top-header {
  height: 46px;
  -webkit-box-shadow: 0 1px 0 rgba(68, 68, 68, 0.08);
          box-shadow: 0 1px 0 rgba(68, 68, 68, 0.08);
  background-color: #f9f9f9; }

.top-header__phone__icon {
  margin-right: 8px;
  padding-top: 0;
  margin-top: 13px;
  display: inline-block; }

.top-header__phone__number {
  display: inline-block;
  vertical-align: middle;
  color: #929292;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  margin-top: 18px; }
  .top-header__phone__number a {
    color: #929292; }

.top-header__widget__search__icon {
  margin-top: 16px;
  margin-right: 46px;
  cursor: pointer; }

.top-header__widget__icon {
  margin-top: 13px;
  margin-right: 11px;
  display: inline-block;
  padding-top: 0; }

.top-header__widget__p {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  margin-top: 16px;
  cursor: pointer; }
  .top-header__widget__p a {
    color: #929292; }
    .top-header__widget__p a:hover {
      color: #4F4F4F; }

.top-header__widget__menu {
  position: relative;
  left: 65px;
  top: 17px;
  z-index: 99;
  display: none; }
  .top-header__widget__menu ul {
    width: 125px;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
            box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
    background-color: #fcfcfc; }
  .top-header__widget__menu:before {
    position: absolute;
    left: 25%;
    top: -10px;
    width: 20px;
    height: 20px;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff; }
  .top-header__widget__menu li {
    padding: 7px 0;
    padding-left: 18px; }
    .top-header__widget__menu li a {
      color: #929292;
      font-weight: 500;
      font-size: 13px;
      text-align: center; }
  .top-header__widget__menu li:last-child {
    background: #f5f5f6; }
    .top-header__widget__menu li:last-child span {
      padding-right: 5px; }

.header {
  height: 84px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.header--logo {
  margin-top: 21px; }

.header-menu {
  margin-top: 36px;
  list-style-type: none; }
  .header-menu li {
    display: inline-block;
    margin-right: 16px; }
  .header-menu a {
    color: #4f4f4f;
    font-size: 15px;
    font-weight: 500; }
    .header-menu a:hover {
      text-decoration: underline; }

.header--sell__btn {
  width: 170px;
  height: 40px;
  margin-top: 22px;
  -webkit-box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
          box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0; }

.header-banner {
  background: url("../img/main-photo-png.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  height: 515px; }

.header-banner__h2 {
  color: #fafafa;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  padding-top: 150px;
  margin-top: 0; }

.search-panel__box {
  width: 894px;
  min-height: 305px;
  margin: 0 auto;
  margin-top: -80px;
  -webkit-box-shadow: 2px 3px 16px rgba(49, 49, 49, 0.1);
          box-shadow: 2px 3px 16px rgba(49, 49, 49, 0.1);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc;
  margin-bottom: 120px; }

.search-panel__box__h3 {
  color: #4f4f4f;
  font-size: 25px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 23px; }

.search-panel__box form {
  padding-left: 30px; }

.search-panel__box form .top {
  margin-bottom: 17px; }

.search-panel__box form .down {
  margin-bottom: 12px; }

.search-panel__box label {
  display: block;
  color: #4f4f4f;
  font-size: 13px;
  font-weight: bold; }

.search-panel__box .caret {
  float: right;
  color: #4f4f4f;
  margin-top: 7px; }

.search-panel__box__state,
.search-panel__box__mark,
.search-panel__box__city,
.search-panel__box__model,
.search-panel__box__condition,
.search-panel__box__year,
.search-panel__box__price,
.search-panel__box__mileage {
  width: 177px;
  height: 34px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #d2d2d2;
  color: #929292;
  font-size: 13px;
  text-align: left;
  padding-left: 9px; }

.search-panel__box__city,
.search-panel__box__model {
  width: 208px; }

.search-panel__box__condition {
  width: 155px; }

.search-panel__box__price,
.search-panel__box__mileage {
  width: 127px;
  display: inline-block; }

.search-panel__box__year {
  width: 75px;
  display: inline-block; }

.search-panel__box__more {
  font-size: 13px;
  text-align: center;
  color: #4f4f4f;
  margin-bottom: 15px;
  cursor: pointer; }
  .search-panel__box__more .fa {
    font-weight: 400; }

.search-panel__box__submit {
  width: 170px;
  height: 40px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
          box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none;
  background-color: #4caf50;
  padding-top: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase; }

.search-panel__box .form-dropdown {
  display: inline-block;
  margin-right: 10px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #4caf50;
  width: 12px;
  height: 12px; }

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px; }

.features-auto {
  margin-bottom: 100px; }
  .features-auto .owl-carousel .owl-item {
    height: 390px; }

.features-auto-h2, .list-auto-h2 {
  text-align: center;
  color: #4f4f4f;
  font-size: 35px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 70px; }

.features-auto__item, .list-auto__item {
  width: 370px;
  height: 385px;
  -webkit-box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
          box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center; }
  .features-auto__item p, .list-auto__item p {
    margin: 0;
    padding: 0; }
  .features-auto__item img, .list-auto__item img {
    width: 370px;
    height: 250px;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    background-color: #e9e9e9;
    margin-bottom: 20px; }
  .features-auto__item .features-auto__mark, .features-auto__item .list-auto__mark, .list-auto__item .features-auto__mark, .list-auto__item .list-auto__mark {
    color: #4f4f4f;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px; }
  .features-auto__item .features-auto__add_info, .features-auto__item .list-auto__add_info, .list-auto__item .features-auto__add_info, .list-auto__item .list-auto__add_info {
    color: #929292;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0px; }
  .features-auto__item .features-auto__city, .features-auto__item .list-auto__city, .list-auto__item .features-auto__city, .list-auto__item .list-auto__city {
    color: #929292;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px; }
  .features-auto__item .features-auto__price, .features-auto__item .list-auto__price, .list-auto__item .features-auto__price, .list-auto__item .list-auto__price {
    color: #4caf50;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase; }

.list-auto {
  margin-bottom: 100px; }
  .list-auto .owl-carousel .owl-item {
    height: 300px; }

.list-auto__item {
  width: 270px;
  height: 295px;
  -webkit-box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
          box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc; }
  .list-auto__item img {
    width: 270px;
    height: 170px; }

.ours-features {
  margin-bottom: 110px; }

.ours-features__h2 {
  text-align: center;
  color: #4f4f4f;
  font-size: 35px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 70px; }

.ours-features__item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

.ours-features__item p {
  color: #929292;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  word-wrap: break-word; }

.banner-block {
  height: 238px;
  background-color: #4caf50; }

.banner-block__h2 {
  color: #fbfbfb;
  font-size: 35px;
  font-weight: 700;
  margin-top: 63px;
  text-align: center;
  margin-bottom: 22px; }

.banner-block__btn {
  width: 170px;
  height: 40px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 17px rgba(251, 251, 251, 0.2);
          box-shadow: 0 2px 17px rgba(251, 251, 251, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fbfbfb;
  border: none;
  color: #4caf50;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 5px; }

.qa {
  margin-bottom: 130px; }

.qa__h2 {
  color: #4f4f4f;
  font-size: 35px;
  font-weight: 700;
  margin-top: 120px;
  text-align: center;
  margin-bottom: 90px; }

.qa__phone {
  margin-right: 50px; }

.qa__email {
  margin-left: 50px; }

.qa__phone p, .qa__email p {
  color: #4f4f4f;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px; }

.footer {
  height: 120px;
  background-color: #494949; }

.footer .container {
  position: relative; }

.footer__logo {
  margin-top: 45px; }

.footer-menu {
  margin-top: 50px; }
  .footer-menu .footer-menu__ul {
    list-style-type: none;
    display: inline-block; }
    .footer-menu .footer-menu__ul li {
      display: inline-block;
      margin-right: 24px; }
      .footer-menu .footer-menu__ul li:last-child, .footer-menu .footer-menu__ul li:first-child {
        margin-right: 0; }
    .footer-menu .footer-menu__ul a {
      color: #dfdfdf;
      font-size: 15px;
      font-weight: 500; }
      .footer-menu .footer-menu__ul a:hover {
        text-decoration: underline; }
  .footer-menu p {
    display: inline-block;
    vertical-align: middle;
    color: #dfdfdf;
    font-size: 13px;
    margin-left: 15px; }
  .footer-menu img {
    margin-left: 15px; }

.topup {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer; }

#popup .modal-content, #popup .modal-dialog {
  width: 330px;
  margin: 0 auto;
  height: 362px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc; }

#popup .modal-dialog {
  margin-top: 30px; }

#popup h4 {
  color: #4f4f4f;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 32px; }

#popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1; }

#popup .facebook-entry {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 0;
  text-transform: uppercase;
  border: none;
  width: 270px;
  height: 40px;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #3b5998;
  margin-bottom: 12px; }
  #popup .facebook-entry:hover, #popup .facebook-entry:active {
    background-color: #4a6bb1; }

#popup p.nebo {
  text-align: center;
  color: #929292;
  font-size: 13px;
  font-weight: 400; }

#popup form {
  width: 270px;
  margin: 0 auto;
  display: block; }
  #popup form label {
    color: #4f4f4f;
    font-size: 13px;
    font-weight: 500; }
  #popup form label + a {
    color: #a9a9a9;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none; }
    #popup form label + a:hover {
      color: #4f4f4f; }
  #popup form input {
    height: 34px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 17px; }
  #popup form button {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    width: 270px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border: none;
    line-height: 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #4caf50; }
    #popup form button:hover, #popup form button:active {
      background-color: #66bb6a; }
  #popup form .form-control-feedback {
    pointer-events: visible;
    cursor: pointer; }

.modal-backdrop.in {
  opacity: 0.9; }

.search {
  margin-top: 60px;
  margin-bottom: 300px; }

.breadcrumb > li + li:before {
  content: '-'; }

.breadcrumb {
  background: none;
  margin-bottom: 25px;
  padding-left: 0; }
  .breadcrumb li a {
    color: #929292; }

.search-sidebar {
  width: 270px;
  min-height: 655px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc;
  padding-top: 22px;
  padding-left: 30px;
  padding-bottom: 30px; }
  .search-sidebar form .form-dropdown {
    margin-bottom: 17px; }
    .search-sidebar form .form-dropdown .search-panel__box__more {
      text-align: center;
      padding-right: 30px;
      margin-top: 15px; }
    .search-sidebar form .form-dropdown label {
      color: #4f4f4f;
      font-size: 13px;
      font-weight: 700;
      display: block; }
    .search-sidebar form .form-dropdown select {
      width: 210px;
      height: 34px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      color: #929292;
      margin-bottom: 5px; }
    .search-sidebar form .form-dropdown .form-select__half {
      display: inline-block;
      width: 102px; }

.car-hor .car-item {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc;
  margin-bottom: 11px; }
  .car-hor .car-item:hover {
    -webkit-box-shadow: 1px 1px 38px rgba(49, 49, 49, 0.1);
            box-shadow: 1px 1px 38px rgba(49, 49, 49, 0.1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.car-hor .car-item__info {
  padding-top: 15px;
  padding-right: 26px; }

.car-hor .car-item__top__panel__h4 {
  color: #4f4f4f;
  font-size: 25px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 34px;
  display: inline-block;
  margin-right: 70px; }

.car-hor .car-item__top__panel__links {
  display: inline-block;
  margin-right: 30px; }
  .car-hor .car-item__top__panel__links:last-child {
    margin-right: auto; }
  .car-hor .car-item__top__panel__links li {
    margin-right: 0;
    padding: 0 2px; }
    .car-hor .car-item__top__panel__links li a {
      font-size: 13px;
      font-weight: 400;
      line-height: 12px;
      color: #4f4f4f; }
    .car-hor .car-item__top__panel__links li .active {
      color: #4caf50; }

.car-hor .car-item__model {
  color: #4f4f4f;
  font-size: 17px;
  font-weight: 500; }

.car-hor .car-item__price {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  background: #4caf50;
  padding: 3px 6px; }

.car-hor .car-item__addinfo {
  color: #929292;
  font-size: 13px;
  font-weight: 400; }

.car-hor .car-item__city {
  color: #929292;
  font-size: 13px;
  font-weight: 400; }

.car-hor .car-item__date {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  background: rgba(199, 27, 37, 0.74);
  padding: 3px 6px; }

.car-hor .car-item__info__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px; }

.car-hor .car_item__info__center {
  margin-bottom: 75px; }

.car-hor .car_item__info__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.car-vert .car-item {
  width: 270px;
  -webkit-box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
          box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc;
  margin-bottom: 30px;
  text-align: center; }
  .car-vert .car-item:hover {
    -webkit-box-shadow: 1px 1px 38px rgba(49, 49, 49, 0.1);
            box-shadow: 1px 1px 38px rgba(49, 49, 49, 0.1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .car-vert .car-item img {
    margin-bottom: 12px; }

.car-vert .car-item__bottom {
  height: 150px; }

.car-vert .car-item__model {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 14px; }

.car-vert .car-item__addinfo, .car-vert .car-item__city, .car-vert .car-item__date {
  color: #929292;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px; }

.car-vert .car-item__date {
  margin-bottom: 10px; }

.car-vert .car-item__price {
  color: #4caf50;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase; }

.car-info .list-auto {
  margin-bottom: 0; }

.car-info .header {
  margin-bottom: 60px; }

.car-content {
  margin-bottom: 100px; }

.car-content__top {
  margin-bottom: 22px; }

.car-content__title {
  color: #4f4f4f;
  font-weight: 500;
  font-size: 15px;
  padding: 0;
  margin: 0;
  text-transform: uppercase; }
  .car-content__title span {
    font-size: 25px; }

.car-content__price {
  color: #66bb6a;
  font-size: 25px;
  font-weight: bold; }

.car-content__sidebar {
  width: 270px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.car-content__sidebar__top {
  height: 85px;
  background-color: #f5f5f5;
  padding-top: 21px;
  padding-left: 25px;
  padding-right: 24px; }

.car-content__sidebar__top__name, .car-content__sidebar__top__date {
  color: #929292;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 15px; }

.car-content__sidebar__top__autobazar {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 500;
  line-height: 12px; }

.car-content__sidebar__bottom {
  height: 315px;
  background-color: #fcfcfc;
  text-align: center;
  padding-top: 20px; }

.car-content__sidebar__bottom__worktime, .car-content__sidebar__bottom__city {
  color: #929292;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px; }

.car-content__sidebar__bottom__city {
  margin-bottom: 10px;
  padding-bottom: 0; }

.car-content__sidebar__bottom__worktime {
  margin-bottom: 15px; }

.car-content__sidebar__bottom__phone {
  color: #4f4f4f;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  vertical-align: top; }
  .car-content__sidebar__bottom__phone img {
    margin-right: 5px;
    vertical-align: top; }

.car-content__sidebar__bottom__btn {
  width: 220px;
  height: 40px;
  -webkit-box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
          box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase; }

.gallery {
  margin-bottom: 70px; }

.car-content__full__info .table > tbody > tr {
  color: #929292;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px; }
  .car-content__full__info .table > tbody > tr td {
    border: 0px;
    padding: 0; }
  .car-content__full__info .table > tbody > tr td:nth-child(2) {
    color: #4f4f4f;
    font-weight: 500; }

.list-equipment {
  margin-bottom: 100px; }

.list-equipment__h2 {
  color: #4f4f4f;
  font-size: 35px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 80px;
  text-align: center; }

.list-equipment__ul {
  list-style-type: none; }
  .list-equipment__ul li {
    background: url("../img/ul_li_list.png") no-repeat;
    background-position-x: 0px;
    padding-left: 24px;
    margin-bottom: 5px; }

.seller-comment {
  margin-bottom: 100px; }

.seller-comment__h2 {
  color: #4f4f4f;
  font-size: 35px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  margin-bottom: 65px; }

.seller-comment__text, .seller-comment__text > span {
  color: #929292;
  font-weight: 400; }

.morecontent span {
  display: none; }

.morelink {
  display: block;
  font-size: 13px;
  text-align: center;
  color: #4f4f4f;
  margin-bottom: 15px;
  cursor: pointer; }

.contact-seller {
  margin-bottom: 100px; }

.contact-seller__h2 {
  color: #4f4f4f;
  font-size: 35px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  margin-bottom: 70px; }

.contact-seller__form {
  width: 670px;
  height: 345px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fcfcfc;
  padding-top: 20px; }
  .contact-seller__form h4 {
    color: #4f4f4f;
    font-size: 25px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    margin-bottom: 20px; }
  .contact-seller__form form {
    margin-left: 25px; }
    .contact-seller__form form .form-seller {
      display: inline-block;
      margin-bottom: 15px; }
    .contact-seller__form form label {
      display: block; }
    .contact-seller__form form input {
      width: 308px;
      height: 34px;
      margin-right: 2px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid #d2d2d2;
      background: #fcfcfc;
      padding-left: 10px;
      color: #4f4f4f;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px; }
    .contact-seller__form form textarea {
      width: 620px;
      height: 108px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid #d2d2d2;
      resize: none;
      padding-top: 10px;
      padding-left: 10px;
      color: #4f4f4f;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px; }
    .contact-seller__form form .form-seller__btn {
      width: 177px;
      height: 40px;
      -webkit-box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
              box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #4caf50;
      border: none;
      line-height: 0;
      color: #ffffff;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 25px; }

.contact-seller .car-content__sidebar__bottom {
  height: 260px; }
