body {
  font-family: 'Roboto', sans-serif; }

p, img {
  margin: 0;
  padding: 0; }

.top-header {
  height: 46px;
  -webkit-box-shadow: 0 1px 0 rgba(68, 68, 68, 0.08);
          box-shadow: 0 1px 0 rgba(68, 68, 68, 0.08);
  background-color: #f9f9f9; }

.top-header__phone__icon {
  margin-right: 8px;
  padding-top: 0;
  margin-top: 13px;
  display: inline-block; }

.top-header__phone__number {
  display: inline-block;
  vertical-align: middle;
  color: #929292;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  margin-top: 18px; }
  .top-header__phone__number a {
    color: #929292; }

.top-header__widget__search__icon {
  margin-top: 16px;
  margin-right: 46px;
  cursor: pointer; }

.top-header__widget__icon {
  margin-top: 13px;
  margin-right: 11px;
  display: inline-block;
  padding-top: 0; }

.top-header__widget__p {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  margin-top: 16px; }
  .top-header__widget__p a {
    color: #929292; }
    .top-header__widget__p a:hover {
      color: #4F4F4F; }

.header {
  height: 84px;
  background-color: #ffffff; }

.header--logo {
  margin-top: 21px; }

.header-menu {
  margin-top: 36px;
  list-style-type: none; }
  .header-menu li {
    display: inline-block;
    margin-right: 16px; }
  .header-menu a {
    color: #4f4f4f;
    font-size: 15px;
    font-weight: 500; }
    .header-menu a:hover {
      text-decoration: underline; }

.header--sell__btn {
  width: 170px;
  height: 40px;
  margin-top: 22px;
  -webkit-box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
          box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px; }

.header-banner {
  background: url("../img/main-photo-png.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  height: 515px; }

.header-banner__h2 {
  color: #fafafa;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  padding-top: 150px;
  margin-top: 0; }

.search-panel__box {
  width: 894px;
  height: 305px;
  margin: 0 auto;
  margin-top: -80px;
  -webkit-box-shadow: 2px 3px 16px rgba(49, 49, 49, 0.1);
          box-shadow: 2px 3px 16px rgba(49, 49, 49, 0.1);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc;
  margin-bottom: 120px; }

.search-panel__box__h3 {
  color: #4f4f4f;
  font-size: 25px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  padding-top: 23px;
  margin-bottom: 23px; }

.search-panel__box form {
  padding-left: 30px; }

.search-panel__box form .top {
  margin-bottom: 17px; }

.search-panel__box form .down {
  margin-bottom: 12px; }

.search-panel__box label {
  display: block;
  color: #4f4f4f;
  font-size: 13px;
  font-weight: bold; }

.search-panel__box .caret {
  float: right;
  color: #4f4f4f;
  margin-top: 7px; }

.search-panel__box__state,
.search-panel__box__mark,
.search-panel__box__city,
.search-panel__box__model,
.search-panel__box__condition,
.search-panel__box__year,
.search-panel__box__price,
.search-panel__box__mileage {
  width: 177px;
  height: 34px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #929292;
  font-size: 13px;
  text-align: left;
  padding-left: 9px; }

.search-panel__box__city,
.search-panel__box__model {
  width: 208px; }

.search-panel__box__condition {
  width: 155px; }

.search-panel__box__price,
.search-panel__box__mileage {
  width: 127px;
  display: inline-block; }

.search-panel__box__year {
  width: 75px;
  display: inline-block; }

.search-panel__box__submit {
  width: 170px;
  height: 40px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
          box-shadow: 0 2px 17px rgba(27, 94, 32, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none;
  background-color: #4caf50;
  padding-top: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

.search-panel__box .form-dropdown {
  display: inline-block;
  margin-right: 10px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #4caf50;
  width: 12px;
  height: 12px; }

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px; }

.features-auto {
  margin-bottom: 100px; }
  .features-auto .owl-carousel .owl-item {
    height: 390px; }

.features-auto-h2, .list-auto-h2 {
  text-align: center;
  color: #4f4f4f;
  font-size: 35px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 70px; }

.features-auto__item, .list-auto__item {
  width: 370px;
  height: 385px;
  -webkit-box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
          box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center; }
  .features-auto__item p, .list-auto__item p {
    margin: 0;
    padding: 0; }
  .features-auto__item img, .list-auto__item img {
    width: 370px;
    height: 250px;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    background-color: #e9e9e9;
    margin-bottom: 20px; }
  .features-auto__item .features-auto__mark, .features-auto__item .list-auto__mark, .list-auto__item .features-auto__mark, .list-auto__item .list-auto__mark {
    color: #4f4f4f;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px; }
  .features-auto__item .features-auto__add_info, .features-auto__item .list-auto__add_info, .list-auto__item .features-auto__add_info, .list-auto__item .list-auto__add_info {
    color: #929292;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0px; }
  .features-auto__item .features-auto__city, .features-auto__item .list-auto__city, .list-auto__item .features-auto__city, .list-auto__item .list-auto__city {
    color: #929292;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px; }
  .features-auto__item .features-auto__price, .features-auto__item .list-auto__price, .list-auto__item .features-auto__price, .list-auto__item .list-auto__price {
    color: #4caf50;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase; }

.list-auto .owl-carousel .owl-item {
  height: 300px; }

.list-auto__item {
  width: 270px;
  height: 295px;
  -webkit-box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
          box-shadow: 0 0 7px rgba(49, 49, 49, 0.12);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fcfcfc; }
  .list-auto__item img {
    width: 270px;
    height: 170px; }
